* {
  font-family: "Gloria Hallelujah", cursive;
  background-color: rgb(31, 29, 29);
  color: white;
}

#wordGuess {
  font-size: 20px;
}
#catagory {
  text-decoration: underline;
}
.mainWrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0px;
}
.numbers {
  float: left;
  margin: auto;
  width: 50%;
}

.letters {
  float: right;
  width: 50%;
  margin: atuo;
}
#guessedLetters {
  font-size: 20px;
}

#banner {
  width: 40%;
  height: auto;
  margin: auto;
}
#screenUpdate {
  width: 40%;
  margin: auto;
}
